.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.pie-label {
  font-size: 12px;
  font-family: Arial, sans-serif;
}

body {
  font-size: 14px; /* Базовый размер шрифта */
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

nav ul {
  padding: 0;
  margin: 0;
}

nav ul li {
  display: inline-block;
  margin-right: 15px;
}

nav ul li a {
  text-decoration: none;
  color: blue;
}

nav ul li a:hover {
  text-decoration: underline;
  color: darkblue;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th, td {
  padding: 10px;
  text-align: center;
  border: 1px solid #ddddddb4;
  font-family: Arial, sans-serif;
  font-size: 80%;
}

.flex-container_50_percents {
  display: flex;
  align-items: center;
  width: 50%; /* Занимает половину ширины страницы */
  margin: 0;
  border: 1px solid #ccc; /* Добавляет рамку (опционально, для наглядности) */
  padding: 20px; /* Отступы внутри контейнера (опционально) */
}

.flex-container_100_percents {
  display: flex;
  align-items: center;
  margin: 0;
  border: 1px solid #ccc; /* Добавляет рамку (опционально, для наглядности) */
  padding: 20px; /* Отступы внутри контейнера (опционально) */
}

.loader {
  border: 4px solid rgba(0, 0, 0, 0.1);
  width: 16px;
  height: 16px;
  border-radius: 50%;
  border-left-color: #09f;
  animation: spin 1s linear infinite;
  display: inline-block;
  vertical-align: middle;
  margin-right: 8px;
}

.my-label {
  font-family: Arial, sans-serif;
  font-size: 1.1rem;
  color: #333;
  padding: 2px 6px;
  border-radius: 4px;
}

.border-main-div {
  display: flex; 
  gap: 10px;
  width: 50%; 
  flex: 1; 
  border: 1px solid rgba(136, 217, 244, 0.8);
  padding: 10px;
  height: 380;
}

@keyframes spin {
  to { transform: rotate(360deg); }
}

@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';